# ==========================================
# Build files
# ==========================================

build/
*.o
*.obj
*.out


# Executables

cavity
*.exe



# ==========================================
# Simulation output
# ==========================================

results/

*.dat
*.csv



# ==========================================
# Plot files
# ==========================================

*.png
*.jpg
*.pdf



# ==========================================
# IDE files
# ==========================================

.vscode/
.idea/


# ==========================================
# OS files
# ==========================================

.DS_Store
Thumbs.db



# ==========================================
# CMake (future use)
# ==========================================

CMakeFiles/
CMakeCache.txt
cmake-build-*/
